.user-list {
    display: flex;
    flex-wrap: wrap; /* Wrap items to new row when necessary */
    list-style-type: none; /* Remove default list styles */
  }
  .user-item {
    margin-right: 20px; /* Add space between each user */
    padding: 10px; /* Add padding around each user */
    border: 1px solid #ccc; /* Add border for visual separation */
    border-radius: 5px; /* Add rounded corners for visual appeal */
  }
  #t{

    padding: 10px;        
    border-radius: 10px;
    border-color: #000000;
    background-color: #f3f3f3;
    margin-left: 20%;
    margin-top: 1%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #000000; 
  
}