
<div class="container">
  <!-- <div> -->
    <button id="showAllBtn" (click)="change(); getUser()" class="button_main">Show All Users</button>
    <button id="addUserBtn" (click)="changeAdd()" class="button_main">Add User</button>
    <button id="getUserByIdBtn" (click)="changeGetUserById()" class="button_main">Get User By Id</button>
  </div>
    <div *ngIf="show">
      <table class="user-table">
        <!-- Table header -->
        <thead>
          <tr>
            <th>Upload</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Identity</th>
            <th>City</th>
            <th>Street</th>
            <th>Street Number</th>
            <th>Date of Birth</th>
            <th>Phone</th>
            <th>Cell Phone</th>
            <th>Corona Date</th>
            <th>Vaccination</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <tr *ngFor="let user of Users" class="user-item">
            <!-- Upload cell with photo display -->
            <td class="upload-cell">
              <div class="upload-container">
                <label class="upload-button">
                  <input type="file" (change)="onFileSelected($event, user)" accept="image/*">
                </label>
              </div>
              <div class="user-photo-container">
                <img *ngIf="user.photo" [src]="user.photo" alt="User Photo" class="user-photo">
              </div>
            </td>
            <!-- User details columns -->
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.identityCard }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.street }}</td>
            <td>{{ user.number }}</td>
            <td>{{ user.dateOfBirth | date }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.cellPhone }}</td>
            <td><input type="button" value="Corona Date" (click)="getCoronaDate(user)"/></td>
            <td><input type="button" value="Vaccination" (click)="userVaccination(user)"/></td>
            <td><input type="button" value="Edit" (click)="editUser(user)"/></td>
            <td><input type="button" value="Remove" (click)="removeUser(user)"/></td>
          </tr>
        </tbody>
      </table>

      <div  *ngIf="showCoronaDate">
        <app-my-corona-date (childEvent)="closeModal()" [(ngModel)]="coronaDate" [coronaDate]="coronaDate"></app-my-corona-date>
      </div>

      <div  *ngIf="showVacHistory">
        <app-vaccination-detail (childEvent)="closeModal()" [(ngModel)]="vaccinationHistory" [VaccinationDetail]="vaccinationHistory"></app-vaccination-detail>
      </div>

    <div *ngIf="edit">
        <div>
          <label for="firstName"> First Name:</label>
          <input type="string" id="firstName" name="firstName" [(ngModel)]="selectedUser.firstName" required>
        </div>
        <div>
          <label for="lastName">Last Name:</label>
          <input type="string" id="lastName" name="lastName" [(ngModel)]="selectedUser.lastName" required>
        </div>
        <div>
          <label for="identityCard">Identity:</label>
          <input type="string" id="identityCard" name="identityCard" [(ngModel)]="selectedUser.identityCard" required>
        </div>
        <div>
          <label for="city">city:</label>
          <input type="string" id="city" name="city" [(ngModel)]="selectedUser.city " required>
        </div>
        <div>
            <label for="street">Street:</label>
            <input type="string" id="street" name="street" [(ngModel)]="selectedUser.street" required>
          </div>
          <div>
            <label for="number">Number:</label>
            <input type="string" id="number" name="Number" [(ngModel)]="selectedUser.number" required>
          </div>
          <div>
            <label for="dateOfBirth">DateOfBirth:</label>
            <input type="string" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="selectedUser.dateOfBirth" required>
          </div>
          <div>
            <label for="phone">Phone:</label>
            <input type="string" id="phone" name="phone" [(ngModel)]="selectedUser.phone" required>
          </div>
          <div>
            <label for="cellPhone">CellPhone:</label>
            <input type="string" id="cellPhone" name="cellPhone" [(ngModel)]="selectedUser.cellPhone" required>
          </div>
          <div>
            <label for="photo">Photo:</label>
            <input type="Uint8Array" id="photo" name="photo" [(ngModel)]="selectedUser.photo" required>
          </div>
        <button id="t" type="submit" (click)="save()">save</button>
    </div>

    </div>
  
  <!-- ------------------------------------ -->
  <div *ngIf="add">
      <form (submit)="onSubmit()" #userForm="ngForm">
        <div>
          <label for="firstName">First Name:</label>
          <input 
            type="text" 
            id="firstName" 
            name="firstName" 
            [(ngModel)]="user.firstName" 
            #firstNameInput="ngModel" 
            required 
            minlength="2" 
            maxlength="50"
            pattern="[a-zA-Z ]*" 
          >
          <div *ngIf="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)" class="error-message">
            <div *ngIf="firstNameInput.errors?.['required']" class="Input_normal_errors">First Name is required.</div>
            <div *ngIf="firstNameInput.errors?.['minlength']" class="Input_normal_errors">First Name must be at least 2 characters long.</div>
            <div *ngIf="firstNameInput.errors?.['maxlength']" class="Input_normal_errors">First Name cannot be more than 50 characters long.</div>
            <div *ngIf="firstNameInput.errors?.['pattern']" class="Input_normal_errors">First Name can only contain alphabets and spaces.</div>
          </div>
        </div>
        <div>
          <label for="lastName">Last Name:</label>
          <input 
            type="text" 
            id="lastName" 
            name="lastName" 
            [(ngModel)]="user.lastName" 
            #lastNameInput="ngModel" 
            required 
            minlength="2" 
            maxlength="50"
            pattern="[a-zA-Z ]*" 
          >
          <div *ngIf="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)" class="error-message">
            <div *ngIf="lastNameInput.errors?.['required']" class="Input_normal_errors">Last Name is required.</div>
            <div *ngIf="lastNameInput.errors?.['minlength']" class="Input_normal_errors">Last Name must be at least 2 characters long.</div>
            <div *ngIf="lastNameInput.errors?.['maxlength']" class="Input_normal_errors">Last Name cannot be more than 50 characters long.</div>
            <div *ngIf="lastNameInput.errors?.['pattern']" class="Input_normal_errors">Last Name can only contain alphabets and spaces.</div>
          </div>
        </div>
        <div>
          <label for="identityCard">Identity:</label>
          <input 
          type="text" 
          id="identityCard" 
          name="identityCard" 
          [(ngModel)]="user.identityCard" 
          #identityCardInput="ngModel" 
          required 
          pattern="[A-Za-z0-9]{8,9}"
          >
          <div *ngIf="identityCardInput.invalid && (identityCardInput.dirty || identityCardInput.touched)" class="error-message">
            <div *ngIf="identityCardInput.errors?.['required']" class="Input_normal_errors">Identity Card is required.</div>
            <div *ngIf="identityCardInput.errors?.['pattern']" class="Input_normal_errors">Please enter a valid identity card format (8-9 alphanumeric characters).</div>
          </div>
        </div>
        <div>
          <label for="city">city:</label>
          <input type="string" id="city" name="city" [(ngModel)]="user.city " required>
        </div>
        <div>
            <label for="street">Street:</label>
            <input type="string" id="street" name="street" [(ngModel)]="user.street" required>
          </div>
          <div>
            <label for="number">Number Of Street:</label>
            <input type="string" id="number" name="Number" [(ngModel)]="user.number" required>
          </div>
          <div>
            <label for="dateOfBirth">DateOfBirth:</label>
            <input type="string" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="user.dateOfBirth" required>
          </div>
          <div>
            <label for="phone">Phone:</label>
            <input type="string" id="phone" name="phone" [(ngModel)]="user.phone" required>
          </div>
          <div>
            <label for="cellPhone">CellPhone:</label>
            <input type="string" id="cellPhone" name="cellPhone" [(ngModel)]="user.cellPhone" required>
          </div>
          <div>
            <label for="photo">Photo:</label>
            <input type="Uint8Array" id="photo" name="photo" [(ngModel)]="user.photo" required>
          </div>
        <button id="t" type="submit" [disabled]="userForm.invalid" (click)="addUser()">Add</button>
      </form>
  </div>
    
  <!-- ------------------------------------------------- -->
  <div *ngIf="showUserById">
    <form (submit)="getUserById()">
        <input type="string" id="userIdInput" [(ngModel)]="userById" name="userId">
        <button id="t" type="submit">Submit</button>
    </form>
    <div *ngIf="selectedUser">
      <ul class="user-list">
        <li>
          <p><strong>First Name:</strong> {{ selectedUser.firstName }}</p>
          <p><strong>Last Name:</strong> {{ selectedUser.lastName }}</p>
          <p><strong>Identity:</strong> {{ selectedUser.identityCard }}</p>
          <p><strong>City:</strong> {{ selectedUser.city }}</p>
          <p><strong>Street:</strong> {{ selectedUser.street }}</p>
          <p><strong>Street Number:</strong> {{ selectedUser.number }}</p>
          <p><strong>Date of Birth:</strong> {{ selectedUser.dateOfBirth | date }}</p>
          <p><strong>Phone:</strong> {{ selectedUser.phone }}</p>
          <p><strong>Cell Phone:</strong> {{ selectedUser.cellPhone }}</p>
        </li>
      </ul>
    </div>
  </div>
  
  
<div>
   
  
