<div class="user-vaccination-card">
    <h2 class="main_word">Vaccination Records</h2>
    <div *ngFor="let vaccination of vaccinations" class="vaccination-record">
      <p class="word"><strong>Vaccination ID:</strong> {{ vaccination.vaccinationId }}</p>
      <p class="word"><strong>User ID:</strong> {{ vaccination.userId }}</p>
      <p class="word"><strong>Vaccine Date:</strong> {{ vaccination.vaccineDate }}</p>
      <p class="word"><strong>Vaccine Manufacturer ID:</strong> {{ vaccination.vaccineManufacturerId }}</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeDialog()">Close</button>
    </div>
  </div>